$colorWhite: #fff;
$colorBlack: #000;
$colorRed: #f35b3a;
$colorGray: #2a2a2a;
$colorBackNavMob: #17161b;
$colorBackBlack: #1a1a1a;
$colorText: #484747;
$colorBackAdvantages: #272727;
$colorBread: #656565;
$colorPopup: #030200;
